<mat-grid-list
  cols="4"
  rowHeight="1:1"
  gutterSize="0px"
  class="full-height-grid"
>
  <mat-grid-tile colspan="1" class="chat-section with-border">
    <div class="chat-container">
      <div class="nav-header">
        <mat-button-toggle-group name="navBar" [(value)]="tab" class="nav-tabs">
          <mat-button-toggle value="chats">
            <mat-icon>chat</mat-icon>
            <mat-label>Chats</mat-label>
          </mat-button-toggle>
          <mat-button-toggle value="contacts">
            <mat-icon>contacts</mat-icon>
            <mat-label>Contacts</mat-label>
          </mat-button-toggle>
          <mat-button-toggle value="addContact">
            <mat-icon>person_add</mat-icon>
            <mat-label>Add Contact</mat-label>
          </mat-button-toggle>
          <mat-button-toggle value="addChat">
            <mat-icon>group_add</mat-icon>
            <mat-label>Add Chat</mat-label>
          </mat-button-toggle>
          <mat-button-toggle value="settings">
            <mat-icon>settings</mat-icon>
            <mat-label>Settings</mat-label>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div class="content-area">
        <div class="content-area">
          <app-chats *ngIf="tab === 'chats'"></app-chats>
          <app-contacts *ngIf="tab === 'contacts'"></app-contacts>
          <app-add-contacts *ngIf="tab === 'addContact'"></app-add-contacts>
          <app-add-chat *ngIf="tab === 'addChat'"></app-add-chat>
          <app-settings *ngIf="tab === 'settings'"></app-settings>
        </div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="3"></mat-grid-tile>
</mat-grid-list>
