<div class="contact-row">
  <div class="avatar">
    <mat-icon>person</mat-icon>
  </div>
  <div class="contact-content">
    <div class="contact-name">{{ contactName }}</div>
    <hr />
    <div class="isOnline" [ngClass]="isOnline ? 'online' : 'offline'">
      {{ isOnline ? "Online" : "Offline" }}
    </div>
  </div>
  <button
    mat-icon-button
    color="warn"
    aria-label="Remove contact"
    (click)="onRemoveContact()"
    class="remove-contact-btn"
  >
    <mat-icon>remove_circle</mat-icon>
  </button>
</div>
